.btn{
    margin-left: 5px;
    margin-bottom: 5px;
}

.upload-magnet {
    display:  none;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-group{
    margin-left: 5px;
    margin-bottom: 5px;
}

.upload-torrent{
    margin-left: 5px;
    margin-bottom: 5px;
}

